@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Pedro Valente</h2>
    <p class="lead">Prova Para Desenvolvedor .NET para CGV Advogados</p>
   
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Vamos começar! Navegue no menu localizado no topo.</h2>
        <p>
        <p>Para saber mais sobre mim, <a href="https://www.linkedin.com/in/pedro-valente-24915b25/">clique aqui</a></p>
    </div>
</div>